<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnString" connectionString="server=服务器名;database=数据库名;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
</configuration>
